a,p,span{font-family: "微软雅黑";}
*{box-sizing: border-box;-webkit-box-sizing: border-box;}
.head{height:100px;width: 100%;position: relative;}
.adds{display: block;position: absolute;left:310px;top:40px;font-size: 16px;border-left: solid 1px #ccc;width: 50px;text-align: center;font-family: "微软雅黑";}
.downarrow1{position: absolute;left:360px;top: 46px;}
.head>ul{position: absolute;left:400px;}
.head>ul>li{height: 100px;width: auto;float: left;margin-left: 30px;line-height: 90px;text-align: center;border-top: solid 4px #FFFFFF;}
.head>ul>li>a{display: block;font-size: 16px;height: 90px;}
.head>ul>.lstyle{border-top: solid 4px #FF5F15;}
#search{border: solid 1px #333333;border-radius: 6px;height:40px;width: 400px;position: absolute;left: 900px;top: 30px;padding-left: 80px;padding-right:90px;color:#333333;}
.head>select{border:none;position: absolute;left: 910px;top:42px;border-right: solid 1px #ccc;}
#insearch{position: absolute;background-color: #FF5F15;left: 1220px;top: 30px;height: 40px;width: 80px;border-top-right-radius: 6px;border-bottom-right-radius: 6px;text-align: center;}
#insearch>a{font-size: 16px;color:#fff;display: block;line-height: 40px;}
/*头部css内容部分结束*/
/*banner begin*/
.banner{position: relative;height: 600px;width: 100%;overflow: hidden;}
.banner>#ban01{margin-left: -400px;}
.banner>a{position: absolute;left:400px;top:500px;display: block;}
/*end*/
/*hotNewhouse begin*/
.hotNewhouse{height: 400px;width: 100%;position: relative;}
.hotleft{height: 100%;width: 920px;float: left; margin-left: 50px;}
.hotright{height: 100%;width: 340px;float: left;margin-left: 10px;}
.hotleft>p,.twoleft>p{height: 40px;width:100%;border-bottom: solid 1px #FF5F15;}
#hot{font-size: 20px;color:#FF5F15;}
.hotleft a,.twoleft a{display: block;float: right;font-size: 14px;color: #979797;line-height: 40px;}
.leftBottom01,.leftBottom02,.leftBottom03{height: 300px;width: 250px;float: left;margin-left: 40px;margin-top: 30px;border: solid 1px #ccc; cursor: pointer;}
.leftBottom01:hover,.leftBottom02:hover,.leftBottom03:hover{border: solid 1px #FF5F15;}
.hotleft img{width: 100%;height: 140px;}
#name{display: block;font-size: 14px;font-weight: bold;margin-left: 10px;margin-top: 10px;height: 20px;width: 90px;float: left;}
#count{display: block;font-size: 12px;color:#ccc;float:right;margin-top: 10px;margin-right: 10px;}
#fl{display: block;float: left;margin-top: 50px;margin-left: -90px; height: 20px;width: 40px;background-color: #FF5F15;border-radius: 3px;font-size: 14px;color: #fff;text-align: center;}
#fl01{display: block;float: left;font-size: 13px;color:#FF5F15;height: 50px;width: 190px;margin-left: 60px;margin-top: -18px;}
#th{display: block;float: left; height: 20px;width: 40px;background-color: #707070;border-radius: 3px;font-size: 14px;color: #fff;text-align: center;margin-left: 10px;}
#th01{display: block;float: left;font-size: 13px;color:#707070;height: 50px;width: 180px;margin-left: 10px;margin-top: 2px;}
#wz{display: block;position: absolute;height: 30px;width: 50px;background-color: rgb(0,0,0);opacity: 0.8; filter: alpha(opacity=0.8);margin-top: -40px;text-align: center;line-height: 30px;color: #fff;font-size: 14px;}
.hotright>p,.tworight>p{font-size: 20px;color: #000;height: 40px;width: 100%;border-bottom: solid 1px #ccc ; padding-left: 10px;}
.book_title{width: 100%;height:300px;border: solid 1px #ccc;margin-top: 30px;overflow: hidden;}
.book_title li{float: left;width: 80px;margin-left: 2px;font-size: 14px;text-align: center;line-height: 30px;}
.book_title>ul{width: 100%;height: 30px;background-color: #EFF8FF;position: relative;z-index: 2;}
#demo2{float: left;}
#demo2 li{height: 30px;width: 100%;border-bottom: dashed 1px #ccc;line-height: 30px;text-align: center;}
#demo2>ul>li>span{font-size: 12px;display: block;width: 82px;float: left;}
/*end*/
.nextbanner{height: 450px;width: 100%;position: relative;overflow: hidden;}
.nextbanner>img{margin-left: -200px;}
/*二手好房begin*/
.twohouse{height: 400px;width: 100%;position: relative;}
.twoleft{height: 100%;width: 920px;float: left; margin-left: 50px;}
.tworight{height: 100%;width: 340px;float: left;margin-left: 20px;}
.twohouse li{float: left;width: 80px;height:40px;line-height: 40px; text-align: center;color: #979797;font-size: 14px;}
.twohouse ul{margin-top: -40px;margin-left: 90px;}
.twoleft img{width: 100%;height: 200px;}
#wz2{display: block;position: absolute;height: 30px;width: 50px;background-color: rgb(0,0,0);opacity: 0.8; filter: alpha(opacity=0.8);margin-top: -40px;text-align: center;line-height: 30px;color: #fff;font-size: 14px;}
#name2{display: block;font-size: 14px;margin-left: 10px;margin-top: 10px;height: 20px;width: 100%;float: left;color: #000;}
#count2{display: block;font-size: 14px;color:#666;float:left;margin-top: 4px;width: 100%;margin-left: 10px;}
.tworight>img{width: 100%;margin-top: 30px;height: 300px;}
/*二手好房end*/
/*footer部分bgein*/
.footer{height: 350px;width: 100%;position: relative;background-color: #fff;border-top: solid 1px #ccc;}
.fImg1{position: absolute;left: 200px;top:60px}
.fImg2{position: absolute;left: 540px;top:60px}
.fImg3{position: absolute;left: 880px;top:60px}
.ftp1{position: absolute;left:280px ;top:70px;height: 150px;width: 250px;}
.ftp2{position: absolute;left:620px ;top:70px;height: 150px;width: 250px;}
.ftp3{position: absolute;left:960px ;top:70px;height: 150px;width: 250px;}
#about,#aboutxfj,#focus,#gzwm,#other,#kflm{font-size: 20px; }
.ftp1>a,.ftp2>a,.ftp3>a{display: block;margin-top: 10px; font-size: 14px;color: #666;}
#tel{font-size: 20px;margin-top: 10px;font-weight: bold;letter-spacing: 1px;}
.ftp2>img{margin-top: 10px;margin-right: 30px;}
#address{position: absolute;left:330px;top:280px;font-size: 12px;}

