@charset "utf-8";
/* CSS Document */

a {
/*blr: expression(this.onFocus=this.blur());
	outline: none;
	border: 0;
	cursor: pointer;*/
	text-decoration: none;
}
a:link {
	color: #666;
	text-decoration: none;
	border: 0;
}
a:visited {
	text-decoration: none;
	color: #666;
	border: 0;
}
a:hover {
	text-decoration: none;
	border: 0;
	color: #666;
}
a:active {
	text-decoration: none;
	color: #666;
	border: 0;
}
img {
	border: 0px;
	display: block;
}
.font, h1, h2, h3, h4, h5 {
	font-family: "Microsoft YaHei", 微软雅黑;
}
h1, h2, h3, h4, h5, strong {
	font-weight: normal;
}
h3 {
	font-size: 16px;
}

ul {
*display:inline-block;
}
li {
	list-style-type: none;
}
small {
	font-size: 13px;
	color: inherit;
}

.p-30 {
	padding: 30px 0;
/*	background-color: #ff0;*/
/*    position: relative;*/
   top:80px;
   left: 100px;
}





.text_ellipsis, .page-nav, .rank-list li a {
	width: auto;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.clamp_2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height: 40px;
	line-height: 20px;
	white-space: normal;
}


框架
.ibox-left {
	
	height: auto;
	float: left;
}


.ibox-left {
	width: 65%;
	
	/*background-color: #ff0;*/
	position: absolute;
	top:130px;
	left: 100px;
		float: left;
}
.ibox-right {
	width: 22%;
	/*background-color: #0f0;*/
	
	position: absolute;
	top:130px;
	left: 75%;
	

}
.news-list{ height:170px; *height:130px; position:relative; padding:20px 0 20px 230px; border-bottom:1px solid #f0f0f0;}
.news-list img{ width:212px; height:130px; position:absolute; top:20px; left:0;}
.news-list h3{ color:#333; font-size:18px; line-height:30px; margin-bottom:10px;}
.news-list span,.news-list small{ position:absolute; bottom:20px; left:230px; color:#999;}
.news-list span{ padding-left:25px; background-size:20px 14px; left:auto; right:0;}
.news-list span{ padding-left:25px; background:url(../img/眼睛.PNG) no-repeat left center; background-size:20px 14px; left:auto; right:0;}




/*ibox标题*/
.ibox-title {
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 2px solid #ff5f15;
	clear: both;
}
.ibox-title h5 {
	font-size: 20px;
	color: #ff5f15;
	font-weight: normal;
}
.ibox-title a {
	color: #999;
	line-height: 56px;
	font-size: 14px;
}
.ibox-title span{ padding-left:10px;}
.ibox-right .ibox-title {
	border-color: #c1c1c1
}
.ibox-right .ibox-title h5 {
	color: #333;
}
.ibox-title span a {
	padding: 0 15px;
}
.ibox-title-more {
	border-color: #c1c1c1;
	overflow: visible;
}
.ibox-title-more h5 {
	width: auto;
	padding:0 20px;
	text-align: center;
	color: #666;
	float: left;
	cursor: pointer;
}
.ibox-title-more h5.active {
	border-bottom: 2px solid #ff5f15;
	color: #ff5f15;
	height: 50px;
}

/*右侧小图列表*/
.small-list {
	height: 90px;
	*height:60px;
	overflow: hidden;
	position: relative;
	padding: 15px 0 15px 130px;
	border-bottom: 1px solid #e3e3e3;
}
.small-list img.img-house {
	width: 120px;
	height: 60px;
	position: absolute;
	top: 15px;
	left: 0;
}
.small-list h3 {
	color: #333;
	line-height: 22px; text-indent:40px;
	position:relative;
}
.small-list h3 .label {
	background: #ebebeb;
	color: #333;
	border-radius: 0;
	height:22px; width:35px; padding:0;text-indent:0;
	display:block;
	text-align:center;
	position:absolute; top:0; left:0;
}
/*右侧广告图片*/
.detail-ad img {
	width: 100%;
	height: auto;
}
/*热门排行列表*/
.rank-list li {
	 width:100%; clear:both; padding: 15px 0 0 0;
}
.rank-list li .label {
	background: #aeaeae;
	width:20px;
	height:20px;
	overflow:hidden;
	padding:0;
	display:block;
	float:left;
	text-align:center;
	border-radius: 0;
	margin-right: 5px;
	
}
.rank-list li.active .label {
	background: #ff5f15;
}
.rank-list li a{ width:260px; float:left;}
.rank-list li a:hover{ color:#ff5f15;}


/*页数*/
.list-page {
	text-align: right;
	margin: 30px 0 50px 0;
}
.list-page span {
	padding: 6px 10px;
	border: 1px solid #e3e3e3;
	color: #666;
	cursor:pointer;
	margin-left: 5px;
}
.list-page span.active {
	background: #ff4200;
	color: #fff;
}
.line_lou_digital {
	width:99%;
	height:34px;
	cursor: default;
	padding:40px 1% 30px 0px;
	line-height:34px; text-align:right; padding-right:3%;
}
.line_lou_digital a { 
    padding:5px 10px; margin-right:2px;
	border:1px solid #dddddd;
	-moz-border-radius:2px;

	-webkit-border-radius:2px;
	text-decoration:none;
	border-radius:2px;
	color:#666666; text-decoration:none;
}
.line_lou_digital a:hover {
	background:#ff4200;
	color:#ffffff; cursor:pointer;}	
.line_80 {
    line-height: 80px;
}
.font_16 {
    font-size: 16px;
}
